       @model string     
    
<div class="container-fluid">
                    <div class="row">
                        <h2>Add</h2>
                    </div>
                    <form method="post" asp-action="Create">
                        <div class="row d-flex flex-column">
                         <label for="name">Role Name</label>
                        
                 
                         <input  style="width: 400px; height: 40px; outline: none; border-radius: 5px;" type="text">
                        </div>
                       
                        <div style="width: 400px;" class="row mt-4 justify-content-end">
                            <button type="submit" style="width: 150px; height: 40px; border: none; border-radius: 5px; background-color: #4e73df; color: #fff;">Submit</button>
                        </div>
                    </form>

                </div>
               



           
